@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$mainGradient: linear-gradient(109.6deg, rgba(48, 207, 208, 1) 11.2%, rgba(51, 8, 103, 1) 92.5%);
$thBgColor: #dadada;
$thColor: #222222;
$tableBorderColor: #bbbbbb;

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
